rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règles pour la collection recipes
    match /recipes/{recipeId} {
      // Autoriser la lecture si l'utilisateur est authentifié
      allow list: if request.auth != null;
      allow get: if request.auth != null;
      
      // Autoriser la création si l'utilisateur est authentifié et qu'il est le propriétaire
      allow create: if request.auth != null && 
                   request.resource.data.userId == request.auth.uid;
      
      // Autoriser la mise à jour si l'utilisateur est authentifié et propriétaire
      allow update: if request.auth != null && 
                   resource.data.userId == request.auth.uid;
      
      // Autoriser la suppression si l'utilisateur est authentifié et propriétaire
      allow delete: if request.auth != null && 
                   resource.data.userId == request.auth.uid;
    }
  }
}
